<!DOCTYPE html>
<html>
    <head>
        <%- include ../includes/headdata.ejs %>
    </head>
    <body data-layer="{&quot;content type&quot;:&quot;Mall_Homepage&quot;,&quot;site&quot;:&quot;Korea_W&quot;,&quot;currencyCode&quot;:&quot;KRW&quot;}">
        <div id="wrapper" class="brand-wrapper">
            <%- include ../includes/header.ejs %>
            <div class="inner-content-wrapper">
				<section class="container-big breadcrumb-container breadcrumb-brand">
					<ol>
						<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
							<span class="breadcrumb-element">브랜드별</span>
						</li>
						<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
								<span class="breadcrumb-element"><%= brandName %></span>
						</li>
					</ol>
				</section>
                <%# 메인배너 %>
                <div class="slider-wrapper">
                    <div class="container-big">
                        <%- homeBannerCarrousel %>
                    </div>
                </div>

                <%# 메세지 띠배너 %>
                <div class="promotion-message" style="background:#000;">
                    <div class="container-big">
                        <%- promotionMessage %>
                    </div>
                </div>

				<%# 전문가추천 / 시즌베스트 제품 %>
                <div class="product-top-home">
					<div id="tabs-product-top-home">
						<ul class="title-tabs">
							<li class="tab-link current" data-tab="home-special-offer">전문가 추천</li>
							<li class="tab-link" data-tab="home-best-seller">시즌 베스트</li>
						</ul>

						<div id="home-special-offer" class="tab-content current product-tiles-wrapper">

							<div class="owl-carousel horizontal-carousel">

								<div class="item">
									<div class="product-tile" id="775d8d90c2e621ef8deea47b72" data-itemid="538797">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="오 떼르말 150ml 1+1">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwd46f5518/images/avene/bundle-set/ETA-150ml-1+1.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwd46f5518/images/avene/bundle-set/ETA-150ml-1+1.jpg?sw=500&amp;sh=500 2x" alt="오 떼르말 150ml 1+1">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아벤느</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 오 떼르말 150ml 1+1">오 떼르말 150ml 1+1</a>
											</h4>
											<p class="product-description">
												<a href="http://www.dermo-cosmeshop.co.kr/avene-eau-thermale-150ml-1%2B1/538797.html">#진정#회복#민감피부#미스트#온천수</a>
											</p>
											<span class="product-variant">
												<span class="label"></span>
												<span class="value"></span>
											</span>

											<div class="wrap_price">
												<div class="price price-standard">₩ 34,000</div>
												<div class="price price-format-sale">₩ 17,000</div>
											</div>
											<div class="product-review" data-pid="538797">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0kdsnjkyyat" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="538797">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">


									<div class="product-tile" id="02ffe2ff71d8155e178b98ca67" data-itemid="530878">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="에피뗄리알 A.H 듀오 [병원판매화장품]">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwd6eb24d4/images/aderma/ADERMA-Epitheliale-A.H-DUO-Ultra-repairing-cream-40ml.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwd6eb24d4/images/aderma/ADERMA-Epitheliale-A.H-DUO-Ultra-repairing-cream-40ml.jpg?sw=500&amp;sh=500 2x" alt="에피뗄리알 A.H 듀오 [병원판매화장품]">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아더마</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 에피뗄리알 A.H 듀오 [병원판매화장품]">에피뗄리알 A.H 듀오 [병원판매화장품]</a>
											</h4>
											<p class="product-description">
												<a href="#">#에스테틱시술#애프터케어#피부보호#진정#피부장벽강화</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">40 ml</span>
											</span>
											<div class="wrap_price">
												<div class="price price-format-sale">₩ 28,000</div>
											</div>

											<div class="product-review" data-pid="530878">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0uvdnvgljaa" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="530878">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="0b320add73204eefbf09a861c9" data-itemid="519193">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="케라크닐 PP크림">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw0bb8db6a/images/ducray/DUCRAY-Keracnyl-PP-30ml.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw0bb8db6a/images/ducray/DUCRAY-Keracnyl-PP-30ml.jpg?sw=500&amp;sh=500 2x" alt="케라크닐 PP크림">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="http://www.dermo-cosmeshop.co.kr/ducray-keracnyl-pp/519193.html">듀크레이</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 케라크닐 PP크림">케라크닐 PP크림</a>
											</h4>
											<p class="product-description">
												<a href="#">#SOS트러블크림 #176만입소문 #특허받은 #트러블케어성분 #케라크닐베스트셀러</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">30 ml</span>
											</span>
											<div class="wrap_price">
												<div class="price price-format-sale">₩ 35,000</div>
											</div>

											<div class="product-review" data-pid="519193">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0ystfaalglc" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="519193">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="1bd9e95583101217e5602fb567" data-itemid="533036">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper">
												<img src="https://www.dermo-cosmeshop.co.kr/on/demandware.static/Sites-PFDC-KR-Site/-/default/dw2c42cec7/images/trends/new.png" alt="new" title="new">
											</div>
											<a class="product-image" href="#" title="아나파즈 플러스 샴푸">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwb50bd8cc/images/ducray/DUCRAY-Anaphase-+-Shampoo-200ml.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwb50bd8cc/images/ducray/DUCRAY-Anaphase-+-Shampoo-200ml.jpg?sw=500&amp;sh=500 2x" alt="아나파즈 플러스 샴푸">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="http://www.dermo-cosmeshop.co.kr/ducray-anaphase-%2B-shampoo/533036.html">듀크레이</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 아나파즈 플러스 샴푸">아나파즈 플러스 샴푸</a>
											</h4>
											<p class="product-description">
												<a href="#">#가는모발 #힘없는모발 #두피모발케어 #모근강화</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">200 ml</span>
											</span>

											<div class="wrap_price">
												<div class="price price-format-sale">₩ 25,000</div>
											</div>

											<div class="product-review" data-pid="533036">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0vpgudbmhrd" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="533036">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>

									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="d3d37a50261afcf9cc3bf0dac7">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="콤플렉스 5">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw5260797e/images/renefurterer/bundle-set/1711_RF-Complexe5set.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw5260797e/images/renefurterer/bundle-set/1711_RF-Complexe5set.jpg?sw=500&amp;sh=500 2x" alt="콤플렉스 5">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="http://www.dermo-cosmeshop.co.kr/renefurterer-complexe-5/530984.html">르네휘테르</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="http://www.dermo-cosmeshop.co.kr/renefurterer-complexe-5/530984.html" title="Go to Product: 콤플렉스 5">콤플렉스 5</a>
											</h4>
											<p class="product-description">
												<a href="http://www.dermo-cosmeshop.co.kr/renefurterer-complexe-5/530984.html">#두피 #두피스케일링 #두피영양 #두피관리 #딥클렌징 #두피클리닉</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">50 ml</span>
											</span>
											<div class="wrap_price">
												<div class="price price-format-sale">₩ 54,000</div>
											</div>
											<div class="product-review" data-pid="530984">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0gzifuqlnui" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="530984">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>

									</div><!-- END: .product-tile -->
								</div>
							</div>
						</div>
						<!-- RECOMMENDED EXPORT END -->

						<!-- SEASON BEST START -->
						<div id="home-best-seller" class="tab-content product-tiles-wrapper" data-layer='{"from":"Product_push_1","list":"Mall_homepage"}' >
							<div class="owl-carousel horizontal-carousel">
								<div class="item">


									<div class="product-tile" id="a533a654239eb45277b7b4ef91" data-itemid="515133">
										<div class="product-image-wrapper">
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="엑소메가 크림 D.E.F.I  [병원판매화장품]">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw82ba70e2/images/aderma/ADERMA-Emollient-cream-D.E.F.I-200ml.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw82ba70e2/images/aderma/ADERMA-Emollient-cream-D.E.F.I-200ml.jpg?sw=500&amp;sh=500 2x" alt="엑소메가 크림 D.E.F.I  [병원판매화장품]">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아더마</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 엑소메가 크림 D.E.F.I  [병원판매화장품]">엑소메가 크림 D.E.F.I  [병원판매화장품]</a>
											</h4>
											<p class="product-description">
												<a href="#">#0%방부제#밀폐용기#쫀쫀한피부#아이부터어른까지#피부장벽강화</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">200 ml</span>
											</span>

											<div class="wrap_price">
												<div class="price price-format-sale">₩ 36,000</div>
											</div>
											<div class="product-review" data-pid="515133">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0agyzheqwks" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="515133">

												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>

											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="dd15c3218e972ce71713f0af89" data-itemid="517833">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="http://www.dermo-cosmeshop.co.kr/avene-cpi-skin-recovery-cream/517833.html" title="CPI 스킨 리커버리 크림">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw20ce622e/images/avene/AVENE-CPI-Skin-Recovery-Cream-Rich-50ml.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw20ce622e/images/avene/AVENE-CPI-Skin-Recovery-Cream-Rich-50ml.jpg?sw=500&amp;sh=500 2x" alt="CPI 스킨 리커버리 크림">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아벤느</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: CPI 스킨 리커버리 크림">CPI 스킨 리커버리 크림</a>
											</h4>
											<p class="product-description">
												<a href="#">#0%방부제#회복크림#밀폐용기#오염물질유입차단용기#민감피부#진정#피부장벽강화#수딩</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">50 ml</span>
											</span>
											<div class="wrap_price">
												<div class="price price-format-sale">₩ 28,000</div>
											</div>
											<div class="product-review" data-pid="517833">
												<div class="rating"></div>
											</div>
											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0rthqphquln" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="517833">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="6c5e65b2a714c069d36a3dafa0" data-itemid="206838">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="포티샤 샴푸 200ml 듀오세트">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwfa3ae5f2/images/renefurterer/bundle-set/FORTICEA-200+200.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwfa3ae5f2/images/renefurterer/bundle-set/FORTICEA-200+200.jpg?sw=500&amp;sh=500 2x" alt="포티샤 샴푸 200ml 듀오세트">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">르네휘테르</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 포티샤 샴푸 200ml 듀오세트">포티샤 샴푸 200ml 듀오세트</a>
											</h4>
											<p class="product-description">
												<a href="#">하나사면,하나반값</a>
											</p>
											<span class="product-variant">
												<span class="label"></span>
												<span class="value"></span>
											</span>
											<div class="wrap_price">
												<div class="price price-standard">₩ 52,000</div>
												<div class="price price-format-sale">₩ 39,000</div>
											</div>
											<div class="product-review" data-pid="206838">
												<div class="rating"></div>
											</div>
											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0xdchiaedvq" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="206838">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="1d4b3e5f9f4c63768b63ee7740">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="토뉘시아 샴푸 200ml 듀오세트">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwa8560bfa/images/renefurterer/bundle-set/TONUCIA_BOGO.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dwa8560bfa/images/renefurterer/bundle-set/TONUCIA_BOGO.jpg?sw=500&amp;sh=500 2x" alt="토뉘시아 샴푸 200ml 듀오세트">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">르네휘테르</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 토뉘시아 샴푸 200ml 듀오세트">토뉘시아 샴푸 200ml 듀오세트</a>
											</h4>
											<p class="product-description">
												<a href="#">하나사면,하나반값</a>
											</p>
											<span class="product-variant">
												<span class="label"></span>
												<span class="value"></span>
											</span>
											<div class="wrap_price">
												<div class="price price-standard">₩ 52,000</div>
												<div class="price price-format-sale">₩ 39,000</div>
											</div>

											<div class="product-review" data-pid="278267">
												<div class="rating"></div>
											</div>
											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0irintwresu" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="278267">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="a25b5dc1daeaf147df8844f86f">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="시칼파트 S.O.S 크림">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw3b78afaa/images/avene/bundle-set/210389.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw3b78afaa/images/avene/bundle-set/210389.jpg?sw=500&amp;sh=500 2x" alt="시칼파트 S.O.S 크림">
											</a>
										</div>
										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아벤느</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: 시칼파트 S.O.S 크림">시칼파트 S.O.S 크림</a>
											</h4>
											<p class="product-description">
												<a href="#">오떼르말 50ml 증정!(한정수량)</a>
											</p>
											<span class="product-variant">
												<span class="label">용량</span>
												<span class="value">40 ml</span>
											</span>
											<div class="wrap_price">
												<div class="price price-format-sale">₩ 22,000</div>
											</div>

											<div class="product-review" data-pid="520491">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0wxocmxyfqf" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="520491">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>

								<div class="item">
									<div class="product-tile" id="d150842ece468267ee47165915">
										<div class="product-image-wrapper" >
											<div class="trend-award-wrapper"></div>
											<a class="product-image" href="#" title="NEW 시칼파트 S.O.S 크림 100ML 듀오 세트">
												<img class="product-picture" srcset="https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw7dad1b03/images/avene/bundle-set/Cicalfate-SOS-Cream-BOGO.jpg?sw=250&amp;sh=250 1x, https://www.dermo-cosmeshop.co.kr/dw/image/v2/BBPR_PRD/on/demandware.static/-/Sites-pfdc-master-catalog/default/dw7dad1b03/images/avene/bundle-set/Cicalfate-SOS-Cream-BOGO.jpg?sw=500&amp;sh=500 2x" alt="시칼파트 100ml 듀오세트 ">
											</a>
										</div>

										<div class="product-info">
											<h5 class="product-brand">
												<a href="#">아벤느</a>
											</h5>
											<h4 class="product-name">
												<a class="name-link link-more" href="#" title="Go to Product: NEW 시칼파트 S.O.S 크림 100ML 듀오 세트">NEW 시칼파트 S.O.S 크림 100ML 듀오 세트</a>
											</h4>
											<p class="product-description">
												<a href="#">하나사면,하나반값</a>
											</p>
											<span class="product-variant">
												<span class="label"></span>
												<span class="value"></span>
											</span>
											<div class="wrap_price">
												<div class="price price-standard">₩ 70,000</div>
												<div class="price price-format-sale">₩ 52,000</div>
											</div>

											<div class="product-review" data-pid="210391">
												<div class="rating"></div>
											</div>

											<form action="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Cart-AddProduct" method="post" id="dwfrm_product_addtocart_d0yxueolbiet" class="pdpForm wrap-button-cart">
												<input type="hidden" name="cartAction" value="add">
												<input type="hidden" name="pid" value="210391">
												<button type="submit" title="장바구니에 담기" value="장바구니에 담기" class="button-fancy-large icon-CART"></button>
											</form>
										</div>
									</div><!-- END: .product-tile -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<%# 전문가추천 / 시즌베스트 제품 END %>

				<%# 이미지 띠배너 %>
				<div class="content-asset">
					<%- promotionBanner %>
				</div>

				<%# 브랜드스토리 %>
				<div class="content-asset">
					<%- bsDesciption %>
				</div>

				<div class="content-asset">
					<%- newAndBeautyTips %>
				</div>
				<%# NEWS and BEAUTY TIPS 종료 %>

				<div class="content-asset">
					<%- findYourProduct %>
				</div>

				<%#  SNS 부분 %>
				<%
					let isSns = false;
					try {
						if(snsButtons){
							isSns = true;
						}
					} catch (e) {
						console.log(e);
					}

					if(isSns){
				%>
				<div class="container">
					<div class="brand-section">
						<ul class="grid-four-col brand-social">

							<%- snsButtons %>
						</ul>
					</div>
				</div>
				<%
					}
				%>





                <%- include ../includes/footer.ejs %>
            </div>
        </div>
        <%- include ../includes/footer_script.ejs %>
    </body>
</html>
