<!DOCTYPE html>
<html>
    <head>
        <%- include ../includes/headdata.ejs %>
		<link rel="stylesheet" href="/assets/css/catalog.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/productpage.css">
		<link rel="stylesheet" href="/assets/css/catalog-async.css">
    </head>
    <body data-layer="{"content type":"Product Details Pages","site":"Korea_W","currencyCode":"KRW"}">
        <div id="wrapper">
            <%- include ../includes/header.ejs %>
            <div class="inner-content-wrapper">
				<div id="pdpMain" class="pdp-main">
					<section class="breadcrumb-container breadcrumb-event container">
						<ol>
							<li>
								<a class="breadcrumb-element" href="#" style="text-transform:uppercase;font-size:14px;font-family:'Noto Sans KR Medium';">제품상세</a>
							</li>
							<li>
								<span class="breadcrumb-element" style="text-transform:uppercase;font-size:14px;"><%-prodName%></span>
							</li>
						</ol>
					</section>

					<div class="product-main-content">
	                    <div class="product-presentation-container container clearfix">
	                        <div class="product-images-wrapper">

	                            <div class="product-primary-image-cover">
	                                <div class="trend-award-wrapper"></div>

	                                <div id="product-images-carousel" style="text-align:center;">
	                                    <img src="/images/temp/prod_detail.jpg" alt="">
	                                </div>
	                            </div>

	                            <div class="thumbnails-wrapper product-thumbnails"></div>
	                        </div>
	                        <%# product-images-wrapper END%>


	                        <div class="product-info-wrapper">
								<div class="product-main-info">
									<span itemprop="mpn" style="display: none" data-masterid="MPRF-17">531571</span>
									<h1>
										<span class="product-brand" itemprop="brand">제품 카테고리</span>
										<span class="product-name" itemprop="name">제품명</span>
									</h1>
									<p class="short-description">#두피앰플 #헤어앰플 #두피케어 #두피강화 #모발강화 #출산선물</p>

									<div id="pr-reviewsnippet">
										<div class="p-w-r">
											<section class="pr-review-snippet-container pr-no-reviews" data-reactid-powerreviews=".3">
												<div class="pr-snippet-stars-reco-inline pr-snippet-compact" data-reactid-powerreviews=".3.0">
													<div class="pr-snippet-stars-reco-stars" data-reactid-powerreviews=".3.0.0">
														<div class="pr-snippet" data-reactid-powerreviews=".3.0.0.0">
															<div class="pr-snippet-stars-container" data-reactid-powerreviews=".3.0.0.0.0">
																<div class="pr-snippet-stars pr-snippet-stars-png " data-reactid-powerreviews=".3.0.0.0.0.0">
																	<div aria-hidden="true" role="radiogroup" class="pr-rating-stars" data-reactid-powerreviews=".3.0.0.0.0.0.0">
																		<div role="radio" class="pr-star-v4 pr-star-v4-0-filled" aria-checked="false" tabindex="-1" data-reactid-powerreviews=".3.0.0.0.0.0.0.$1"></div>
																		<div role="radio" class="pr-star-v4 pr-star-v4-0-filled" aria-checked="false" tabindex="-1" data-reactid-powerreviews=".3.0.0.0.0.0.0.$2"></div>
																		<div role="radio" class="pr-star-v4 pr-star-v4-0-filled" aria-checked="false" tabindex="-1" data-reactid-powerreviews=".3.0.0.0.0.0.0.$3"></div>
																		<div role="radio" class="pr-star-v4 pr-star-v4-0-filled" aria-checked="false" tabindex="-1" data-reactid-powerreviews=".3.0.0.0.0.0.0.$4"></div>
																		<div role="radio" class="pr-star-v4 pr-star-v4-0-filled" aria-checked="false" tabindex="-1" data-reactid-powerreviews=".3.0.0.0.0.0.0.$5"></div>
																	</div>

																	<div aria-hidden="true" class="pr-snippet-rating-decimal" data-reactid-powerreviews=".3.0.0.0.0.0.1">0.0</div>
																</div>
																<span class="pr-accessible-text" data-reactid-powerreviews=".3.0.0.0.0.1">5 점 중 0 평점</span>
															</div>
															<div class="pr-snippet-read-and-write" data-reactid-powerreviews=".3.0.0.0.1">
																<span class="pr-snippet-review-count" data-reactid-powerreviews=".3.0.0.0.1.1">(리뷰 없음)</span>
																<a href="#" class="pr-snippet-write-review-link" data-reactid-powerreviews=".3.0.0.0.1.2">첫 리뷰 제출</a>
															</div>
														</div>
													</div>

													<div style="clear:both;" data-reactid-powerreviews=".3.0.2"></div>
												</div>
											</section>
										</div>
									</div>

									<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
										<div class="variations-list">
											<div class="variant-holder selected">
												<a href="/on/demandware.store/Sites-PFDC-KR-Site/ko_KR/Product-Variation?pid=531571" class="variant" data-productid="531571">
													<span class="quantity">12x5 ml</span>
													<span class="final-price">₩ 78,000</span>
												</a>
											</div>
										</div>

									</div>
								</div>
								<%# product-main-info END%>

								<div class="product-main-actions">

									<form action="#" method="post" id="dwfrm_product_addtocart_d0rykpetjarc" class="pdpForm" data-layer="{&quot;name&quot;:&quot;RF 80 ATP&quot;,&quot;id&quot;:&quot;531571&quot;,&quot;basePrice&quot;:&quot;78000.00&quot;,&quot;price&quot;:&quot;78000.00&quot;,&quot;brand&quot;:&quot;RF&quot;,&quot;category&quot;:&quot;categories-hair&quot;,&quot;variant&quot;:&quot;12x5 ml&quot;,&quot;onStock&quot;:&quot;y&quot;}">
										<fieldset>
											<div class="product-add-to-cart">

												<div class="quantity-wrapper">
													<label for="quantity-input" class="label-inline-medium">수량선택</label>

													<div class="quantity-selection">
														<a href="#reduce-quantity" class="reduce-quantity quantity-selector">-</a>
														<input type="text" class="input-text" name="Quantity" id="quantity-input" size="2" maxlength="3" value="1" data-available="92">
														<a href="#raise-quantity" class="raise-quantity quantity-selector">+</a>
													</div>
												</div>

						                        <div class="benefit-information">
						                        	<div class="members-benefit benefit">
						                        		<span class="label-inline-medium">회원혜택</span>
						                        		<span class="value">회원 등급별 최대 5% 적립</span>
						                        	</div>

						                        	<div class="discount-benefit benefit">
						                        		<span class="label-inline-medium">할인혜택</span>
						                        		<span class="value">
						                        			<span>로그인 하고 쇼핑혜택을 확인하세요</span>
						                                    <a href="javascript:void(0)" class="login-cta require-login-popin">로그인</a>
						                                </span>
						                        	</div>

						                        	<div class="delivery-price benefit">
						                        		<span class="label-inline-medium">배송비</span>
						                        		<span class="value">40,000원 이상 구매 시 무료배송</span>
						                        	</div>
						                        </div>

						                        <div class="product-social">
						                            <span class="label-inline-medium">공유하기</span>
							                        <a class="share-icon" title="페이스 북에서 공유" data-share="facebook" href="#" target="_blank"><span class="icon-FB"></span></a>
							                        <a class="share-icon" title="트위터에 공유" data-share="twitter" href="#" target="_blank"><span class="icon-TWITTER"></span></a>
							                        <a class="share-icon" title="카카오를 공유하다" data-share="kakaotalk" href="#" target="_blank"><span class="icon-KAKAO"></span></a>
						                        </div>

						                        <div class="add-to-cart-cta-wrapper clearfix">
						                			<button id="buy-now" type="button" data-action="buy-now-all" title="바로구매" class="add-to-cart">바로구매</button>
						                			<button id="add-to-cart" type="submit" class="add-to-cart icon-CART" title="전체 제품 장바구니 담기"></button>
						                        </div>

	                        				</div>
	                        			</fieldset>
	                        		</form>
	                        	</div>
								<%# product-main-actions END%>

	                        	<div class="promotion-banner">
	                        		<p>
										<a href="#">
											<img alt="" src="http://www.dermo-cosmeshop.co.kr/on/demandware.static/-/Sites-PFDC-KR-Library/ko_KR/dw2f2545c2/promotion-banner/1711_RF_gift_1115.jpg" title="">
										</a>
									</p>
	                        	</div>

	                        </div>
	                        <%# product-info-wrapper END%>
	                    </div>
						<%# product-presentation-container container clearfix END%>

						<div class="product-info-container tabs-wrapper">
							<ul class="tabs-nav" role="tablist">
								<li role="presentation" class="active">
									<a href="#tab-detailed-info" aria-controls="detailed-info" role="tab" data-toggle="tab">
										상세정보
									</a>
								</li>
								<li role="presentation">
									<a href="#tab-reviews" aria-controls="reviews" role="tab" data-toggle="tab">
										상품리뷰
										<span class="highlight tab-reviews-counts"></span>
									</a>
								</li>
								<li role="presentation">
									<a href="#tab-product-info" aria-controls="product-info" role="tab" data-toggle="tab">
										제품정보
									</a>
								</li>
								<li role="presentation">
									<a href="#tab-delivery-return" aria-controls="delivery-return" role="tab" data-toggle="tab">
										배송 및 반품
									</a>
								</li>
							</ul>

							<div class="tabs-content container">
								<div class="tab active" id="tab-detailed-info" role="tabpanel">
									<%- detailData %>
								</div>

								<div id="tab-reviews" class="tab" role="tabpanel">
									<div id="productPreferences" data-product-id="MPRF-17" ></div>
									<h4 class="review-bloc-title">제품 리뷰</h4>
									<div id="pr-reviewsnapshot">
										<div class="p-w-r">
											<div data-reactid-powerreviews=".2"></div>
										</div>
									</div>
									<div class="content-asset">
										<div id="banner-leave-a-review" class="clearfix">
											<div class="title-wrapper">
												<h4>상품평 작성 시 <span class="highlight">포인트</span>를 드립니다!</h4>
												<p>사용해 보신 상품에 대한 후기를 남겨주세요.</p>
											</div>

											<div class="argument-wrapper clearfix">
												<div class="argument">
													<div class="icon-holder">
														<span class="icon-hamburger-alt"></span>
													</div>
													<div class="text-holder">
														<h6>텍스트 리뷰</h6>
														<p class="highlight">200 <span class="icon-POINT"></span></p>
													</div>
												</div>
												<div class="argument">
													<div class="icon-holder">
														<span class="icon-play-button"></span>
													</div>
													<div class="text-holder">
														<h6>포토/동영상 리뷰</h6>
														<p class="highlight">500 <span class="icon-POINT"></span></p>
													</div>
												</div>
											</div>

											<div class="cta-wrapper">
												<a href="http://www.dermo-cosmeshop.co.kr/renefurterer-rf80-atp/531571.html?writeReview=true&amp;pr_name=DEFAULTUSER&amp;pr_headline=My review&amp;pr_location=South Korea" id="leave-review-cta">지금 리뷰쓰기</a>
											</div>
										</div>
									</div>

									<div id="pr-questiondisplay">
										<div class="p-w-r">
											<section id="pr-qa-display-MPRF-17" class="pr-qa-display pr-qa-display-desktop">
												<header class="pr-qa-display-headline" data-reactid-powerreviews=".4.$desktop-tablet-headline">
													<h1 data-reactid-powerreviews=".4.$desktop-tablet-headline.0">
														<abbr title="질문 및 답변" data-reactid-powerreviews=".4.$desktop-tablet-headline.0.0">상품&nbsp;Q&amp;A</abbr>
													</h1>
													<section class="pr-qa-display-ask-question" data-reactid-powerreviews=".4.$desktop-tablet-headline.1">
														<button class="pr-btn pr-btn-default pr-btn-review pr-accessible-btn pr-qa-display-btn">작성하기</button>
													</section>
												</header>
											</section>
										</div>
									</div>
								</div>
								<%# tab-reviews END%>


								<div id="tab-product-info" class="tab" role="tabpanel">
									<h3>제품 정보</h3>
									<table>
										<tr>
											<td class="label">품목고시 공식 상품평</td>
											<td class="value">Null</td>
										</tr>

										<tr>
											<td class="label">품목고시 용량 또는 중량</td>
											<td class="value">0 ml</td>
										</tr>

										<tr>
											<td class="label">사용기한 또는 개봉 후 사용기간</td>
											<td class="value">제조일로부터 3년 이내</td>
										</tr>

										<tr>
											<td class="label">사용 방법</td>
											<td class="value">Null</td>
										</tr>

										<tr>
											<td class="label">제조원</td>
											<td class="value">피에르파브르더모코스메틱</td>
										</tr>

										<tr>
											<td class="label">제조판매업자</td>
											<td class="value">피에르파브르더모코스메틱코리아(유)</td>
										</tr>

										<tr>
											<td class="label">제조국</td>
											<td class="value">프랑스</td>
										</tr>

										<tr>
											<td class="label">전성분</td>
											<td class="value">Null</td>
										</tr>

										<tr>
											<td class="label">사용 시 주의사항</td>
											<td class="value">Null</td>
										</tr>

										<tr>
											<td class="label">품질보증기준</td>
											<td class="value">관련법 및 소비자 분쟁해결 규정에 따름</td>
										</tr>

										<tr>
											<td class="label">소비자 상단 관련 전화번호</td>
											<td class="value">1899-4802</td>
										</tr>
									</table>
								</div>
								<%# tab-product-info END%>

								<div id="tab-delivery-return" class="tab" role="tabpanel">
									<%- detailDeliveryData %>
								</div>
							</div>
							<%# tabs-content container END%>
						</div>
						<%# product-info-container tabs-wrapper END%>
	                </div>
					<%# product-main-content END%>

				</div>
				<%# pdp-main END%>



                <%- include ../includes/footer.ejs %>
            </div>
        </div>
        <%- include ../includes/footer_script.ejs %>
    </body>
</html>
