<!-- footer START -->
<footer class="footer">
    <div class="back-to-top">
        <div class="content-asset">
            <%-footerBackToTop%>
        </div>
    </div>

    <div class="sub-footer-wrapper">
        <div class="footer-info">
            <div class="container">
                <div class="content-asset">
                    <%- footerCallCenterInfo %>
                </div>
            </div>
            <!-- container END -->
        </div>
        <!-- footer-info END -->

        <div class="footer-nav ">
            <div class="container nav-list">
                <div class="content-asset">
                    <%- footerLinkRefer %>
                </div>
            </div>

            <div class="container info-list">
                <div class="content-asset">
                    <%- footerCompanyInformation %>
                </div>
            </div>
            <!-- info-list END -->

            <div class="container copy-right">
                <div class="content-asset">
                    <%- footerCopyright %>
                </div>
            </div>
        </div>
        <!-- footer-nav END -->
    </div>
    <!-- sub-footer-wrapper END -->

    <span id="user-authenticated" style="display: none;" data-authenticated="false" data-isshowpopup="false"></span>
</footer>
<!-- footer END -->
